html {
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font-family: sans-serif;
}

p, h2{
  margin: 0;
  padding:0;
  max-width: 500px;
}

div .wrapper {
    background: #fff;
    max-width: 550px;
    overflow: scroll;
    margin: 100px auto 0;
    box-shadow: 1px 5px 1em 0px #999;
    border-radius: 5px;
    height: 700px;
  }

div .wrapper input {
  width: 544px;
}

div .studentContainer {
  border-bottom: 1px solid lightgrey;
  height: auto;

  }

div .studentContainer img {
  width: 150px;
  border: 2px solid lightgrey;
  border-radius: 50%;
}

div .studentInfo img {
position: relative;
left: 30px;
top: 54px;

}

div .studentInfo button {
  position: relative;
bottom: 108px;
left: 485px;
font-size: 1.5em;
}


div .info {
position: relative;
left: 50%;
bottom: 80px;
}
