html {
  box-sizing: border-box;
  color:grey;
  font-family:sans-serif;
}

h2, p, li, div, ul {
  margin:0;
  padding: 0;
}

h2 {
  font-size: 2.4em;
  color:black;
}

.wrapper{
    padding: .5em 1.6em .5em;
    max-width: 650px;
    margin: 70px auto 0;
    box-shadow: 1px 5px 1em 0px #999;
    border-radius: 5px;
    height: 500px;
    overflow: scroll;
}

.wrapper input {
  border:none;
  border-bottom: 1px solid lightgrey;
  width: 650px;

}
.wrapper input:focus {
  border:none;
  outline: 0;
  font-size: 1.4em;
}

.studentInfo {
  border-bottom: 1px solid lightgrey;
}


.info img {
  width: 150px;
  border-radius: 50%;
  border: 1px solid grey;
}

.details {
  display: inline-block;
  position: relative;
  bottom: 20px;
  left: 10px;
}

.details p {
  margin-left: 20px;
}


.grades {
  margin-left: 190px;
}

.studentInfo button {
  position: relative;
  left: 550px;
  top: 10px;
  font-size: 2em;
  color: grey;
  border: none;
}

.studentInfo button:focus {
  outline: 0;
  border: none;
}
